@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
    themes: all;
}

@theme {
    --font-azeret: "Azeret Mono", monospace;
    --font-unbounded: "Unbounded", monospace;
    --font-sans: "Azeret Mono", monospace;
    --font-serif: "Azeret Mono", monospace;
    --font-mono: "Azeret Mono", monospace;

    --color-text: #FFFFFF;
}


